/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


 div#plgroup {
    width: 100%;
    margin: 50PX 0px;
    padding: 0;
}

.titleofcolors{
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
}
div#plgroup ul.plitems {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
div#plgroup ul.plitems li {
    display: inline-block;
    text-align: center;
    user-select: none;
    position: relative;
    margin-left: 0px;
    margin-bottom: 0px;
    border: 1px solid #dddddd90;
}
  
div#plgroup ul.plitems li .linkertooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    font-size: 12px;
    margin-left: -60px;
}

div#plgroup ul.plitems li .linkertooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

div#plgroup ul.plitems li:hover .linkertooltip {
    visibility: visible;
}

div#plgroup ul.plitems li a {
    text-decoration: none;
    font-size: 18px;
    min-width: 100%;
    height: 100%;
    display: inline-block;
}

li.selected_item {
    outline: 1px solid #000;
    border: 2px solid #fff !important;
}

li.imgitem {
    height: 48px;
    width: 48px;
    display: inline-flex !important;
    align-items: baseline;
}
li.imgitem a {
    min-height: 90%;
    max-height: 90%;
    padding: 5px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}