/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
#maincolor{
    margin-left: 5px;
    margin-right: 10px;
}
 .product-select-inp{
     margin-bottom: 20px;
 }
 button.add-product{
     margin-left: 20px !important;
 }
 .colorshow {
    padding: 6px;
    display: inline-block;
    width: 20px;
    border: 1px solid;
    border-radius: 2px;
}
span.removeitm {
    color: red;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    transform: rotate(45deg);
    font-weight: 700;
    user-select: none;
}
.grouptbl thead tr th:last-child, .grouptbl tbody tr td:last-child{
    text-align: right;
}
.nodata{
    text-align: center !important;
}